/* --------------------- Fonts ------------------------ */
/* --------------------- Fonts ------------------------ */
@font-face {
  font-family: 'GT America Standard';
  font-weight: 100;
  src: url('../fonts/GT-America-Standard-Thin.ttf') format('truetype'),
    url('../fonts/GT-America-Standard-Thin.otf') format('otf');
}
